In [54]:
import warnings
warnings.filterwarnings("ignore")

**Data collected from 11 Letterboxd Users**

In [55]:
import pandas as pd
df = pd.read_csv('users.csv')
df

                 username               movie_name    year  rating
0      757417810166153347       Memories of Murder  2003.0    10.0
1      757417810166153347               Knives Out  2019.0     8.0
2      757417810166153347                   Kadakh  2020.0     7.0
3      757417810166153347            Shallow Grave  1994.0     8.0
4      757417810166153347            A Simple Plan  1998.0     8.0
...                   ...                      ...     ...     ...
19696  723964726735798303            Summer Palace     NaN     6.0
19697  723964726735798303             Suzhou River     NaN     7.0
19698  723964726735798303                    Wayne     NaN     NaN
19699  723964726735798303  Syndromes and a Century     NaN     7.0
19700  723964726735798303  35 - Chinna Katha Kaadu     NaN     5.0

[19701 rows x 4 columns]

**Data Cleaning**

In [56]:
df.isna().sum()

username         0
movie_name       0
year           202
rating        2409
dtype: int64

In [57]:
df.dropna(inplace=True)
df

,username,movie_name,year,rating
0,757417810166153347,Memories of Murder,2003.0,10.0
1,757417810166153347,Knives Out,2019.0,8.0
2,757417810166153347,Kadakh,2020.0,7.0
3,757417810166153347,Shallow Grave,1994.0,8.0
4,757417810166153347,A Simple Plan,1998.0,8.0
...,...,...,...,...
19506,754710546623889469,The Panama Papers,2018.0,7.0
19507,754710546623889469,Will & Harper,2024.0,7.0
19508,754710546623889469,Wal-Mart: The High Cost of Low Price,2005.0,7.0
19509,754710546623889469,Nightwing and Robin,2015.0,6.0
19510,754710546623889469,Freedom Fighters: The Ray,2017.0,6.0

In [58]:
df.rating.unique()

array([10.,  8.,  7.,  6.,  9.,  1., 12.,  2.,  3.,  5.,  4.])

In [59]:
df['rating'] = df['rating'].apply(lambda x:x/2 if x>10 else x)

In [60]:
df.rating.unique()

array([10.,  8.,  7.,  6.,  9.,  1.,  2.,  3.,  5.,  4.])

In [61]:
ratings = df.pivot_table(values='rating', index = 'username', columns = 'movie_name').fillna(0)
ratings

movie_name,#Alive,#Home,#UNFIT: The Psychology of Donald Trump,(500) Days of Summer,0cm⁴,10 Cloverfield Lane,10 Kalpanakal,10 Things I Hate About You,"10,000 BC",100 Days,...,mask dog,mother!,nakedyouth,rain,"tick, tick... BOOM!",www.anukudumbam.com,xXx,xXx: State of the Union,¡Three Amigos!,Æon Flux
username,,,,,,,,,,,,,,,,,,,,,
455281012751073290,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
723964726735798303,0.0,0.0,0.0,0.0,7.0,0.0,0.0,6.0,0.0,0.0,...,0.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
726328036924063815,0.0,5.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,9.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0
754710546623889469,0.0,9.0,8.0,6.0,0.0,8.0,0.0,6.0,4.0,4.0,...,0.0,7.0,0.0,0.0,0.0,0.0,6.0,6.0,7.0,4.0
757417810166153347,0.0,6.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
768126958084161596,5.0,7.0,0.0,0.0,0.0,7.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
798618047078203392,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,4.0,0.0,...,0.0,8.0,0.0,10.0,0.0,0.0,4.0,0.0,0.0,0.0
819252584485355554,0.0,6.0,0.0,8.0,0.0,0.0,1.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
873582692510355476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
968874839022665728,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1243217929873522778,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Finding N Nearest Neighbours**

In [84]:
from sklearn.neighbors import NearestNeighbors

model = NearestNeighbors(n_neighbors=5)
model.fit(ratings)

NearestNeighbors()

In [85]:
import joblib
joblib.dump(model, 'movie_recc.pkl')

['movie_recc.pkl']

**Sample Use case**

In [86]:
input_ratings = [list(ratings.iloc[0, :].values)]

In [87]:
_, neighbours = model.kneighbors(input_ratings)

In [88]:
list(neighbours[0])

[0, 8, 7, 4, 9]

In [91]:
n_ratings = ratings.iloc[list(neighbours[0])]
n_ratings

movie_name,#Alive,#Home,#UNFIT: The Psychology of Donald Trump,(500) Days of Summer,0cm⁴,10 Cloverfield Lane,10 Kalpanakal,10 Things I Hate About You,"10,000 BC",100 Days,...,mask dog,mother!,nakedyouth,rain,"tick, tick... BOOM!",www.anukudumbam.com,xXx,xXx: State of the Union,¡Three Amigos!,Æon Flux
username,,,,,,,,,,,,,,,,,,,,,
455281012751073290,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
873582692510355476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
819252584485355554,0.0,6.0,0.0,8.0,0.0,0.0,1.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
757417810166153347,0.0,6.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
968874839022665728,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
n_ratings.mean().sort_values(ascending=False)

movie_name
Haider                       9.2
Ee.Ma.Yau.                   8.0
Kumbalangi Nights            8.0
Mukundan Unni Associates™    7.8
Thallumaala                  7.8
                            ...
Insidious: Chapter 3         0.0
Insidious: Chapter 2         0.0
Insidious                    0.0
Inside Out 2                 0.0
Æon Flux                     0.0
Length: 9326, dtype: float64